export(
dd.rfp,
elca.rh,
extract.deaths,
flc.plot,
fle.plot,
insp.dd,
lca.dev.res,
lca.rh,
plot_coh_pars,
rhdata,
matfle.plot,
matflc.plot,
fitted_plots,
plot_dd,
residual_plots,
plot_per_pars,
print.rh,
print.rhdata,
print.elca,
coef.rh,
coef.elca,
coef.lca,
plot.rh,
plot.elca,
fill.rhdata
)

S3method(print,rh)
S3method(print,rhdata)
S3method(print,elca)
S3method(coef,rh)
S3method(coef,lca)
S3method(coef,elca)
S3method(plot,rh)
S3method(plot,elca)


import(grDevices)
import(stats)
import(demography)
import(rainbow)
import(forecast)
import(date)
import(survival)









